.container{
    margin: 0 auto;
    max-width: 1280px;
}


.greetingForm {

}

.inputAndButtonContainer {
    display: flex;

}

.error {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
}

.input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 8px 0 8px 12px;
    margin: 0 0 7px 0;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    min-width: 327px;
}

.input:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 8px 0 8px 12px;
    border: 2px solid #000;
    border-radius: 5px;
    min-width: 327px;

}

.errorInput {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 8px 0 8px 12px;
    border: red 2px solid;
    min-width: 327px;
}

.button {
    width: 78px;
    height: 36px;
    background: #0066CC;
    opacity: 1;
    border-radius: 3px;
    margin: 0 0 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 5px 24px;

}

.button:focus {
    width: 78px;
    height: 36px;
    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
    margin: 0 0 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 5px 24px;
}

.button:active {
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;
    margin: 0 0 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 5px 24px;
}

.button:disabled {
    width: 78px;
    height: 36px;
    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
    margin: 0 0 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 5px 24px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 0 9px 0;
}

.greeting {
    margin: 10px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.button:active {
    background-color: darkorange;
}

.button:disabled {
    background-color: black;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    margin: 10px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
